In [25]:
import numpy as np
import pandas as pd 
import indicators as ind
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
def group3_ensemble_model_signals(df:pd.DataFrame):
    df = ind.EMA(df)
    df = ind.macd_signals(df)
    df = ind.adx_signal(df)
    df = ind.rsi_signals(df)
    df = ind.bb_signals(df)
    df = ind.keltner_channels(df)
    df = ind.stochastic_oscillator_strategy(df)
    
    return df

In [27]:
stock_tickers = [
    "AAPL", "ABT", "ADBE", "AEP", "AES", "AFL", "ALGN", "AMD", "AMT", "AOS",
    "APA", "APD", "ARE", "AWK", "AXON", "BA", "BAC", "BAX", "BDX", "BG",
    "BKR", "BRK-B", "BX", "BXP", "CAT", "CCI", "CDNS", "CE", "CEG", "COF",
    "CPB", "CPT", "DIS", "EA", "FMC", "FOX", "GOOGL", "IFF", "KLAC", "LNT",
    "MMM", "MO", "NVDA", "STZ", "TECH", "TRGP", "VLO", "WBD", "WMB", "WMT"]

In [28]:
len(stock_tickers)

50

df = pd.read_csv('../data/S & P 50/AAPL.csv')
df.head()

for ticker in stock_tickers:
    df = pd.read_csv(f'../data/S & P 50/{ticker}.csv')
    df.sort_values(by='date',inplace=True)
    new_df = df[['date','open','high','low','close','volume']]
    new_df.to_csv(f'/home/sohan/Documents/csv commodities/sp50/daily/{ticker}.csv',index=False)

In [33]:
df = pd.read_csv('../data/S & P 50/AAPL.csv')
df.head()

,date,open,high,low,close,volume
0,2018-01-02 00:00:00.000000,42.540001,43.075001,42.314999,43.064999,102223600.0
1,2018-01-03 00:00:00.000000,43.132500,43.637501,42.990002,43.057499,118071600.0
2,2018-01-04 00:00:00.000000,43.134998,43.367500,43.020000,43.257500,89738400.0
3,2018-01-05 00:00:00.000000,43.360001,43.842499,43.262501,43.750000,94640000.0
4,2018-01-08 00:00:00.000000,43.587502,43.902500,43.482498,43.587502,82271200.0

In [34]:
df.shape

(1259, 6)

In [35]:
signals = group3_ensemble_model_signals(df)

In [36]:
signals.tail(10)

,date,open,high,low,close,volume,ema_signal,MACD_signal,ADX,rsi_signal,bb_signal,Keltner_channels,Stochastic_oscillator
1249,2022-12-16 00:00:00.000000,136.690002,137.649994,133.729996,134.509995,160156900.0,-1,-1,15.941106,1,1,1,1
1250,2022-12-19 00:00:00.000000,135.110001,135.199997,131.320007,132.369995,79592600.0,-1,-1,16.568604,1,1,1,1
1251,2022-12-20 00:00:00.000000,131.389999,133.250000,129.889999,132.300003,77432800.0,-1,-1,17.175160,1,0,1,1
1252,2022-12-21 00:00:00.000000,132.979996,136.809998,132.750000,135.449997,85928000.0,-1,-1,18.399059,0,0,0,0
1253,2022-12-22 00:00:00.000000,134.350006,134.559998,130.300003,132.229996,77852100.0,-1,-1,19.235715,1,0,1,1
1254,2022-12-23 00:00:00.000000,130.919998,132.419998,129.639999,131.860001,63814900.0,-1,-1,21.617660,0,0,0,1
1255,2022-12-27 00:00:00.000000,131.380005,131.410004,128.720001,130.029999,69007800.0,-1,-1,21.912949,0,0,1,1
1256,2022-12-28 00:00:00.000000,129.669998,131.029999,125.870003,126.040001,85438400.0,-1,-1,22.241540,1,0,1,1
1257,2022-12-29 00:00:00.000000,127.989998,130.479996,127.730003,129.610001,75703700.0,-1,-1,22.362558,0,0,0,1
1258,2022-12-30 00:00:00.000000,128.410004,129.949997,127.430000,129.929993,77034200.0,-1,-1,23.356171,0,0,0,1

In [52]:
signals.shape

(1240, 17)

In [37]:
signals.isna().sum()

date                      0
open                      0
high                      0
low                       0
close                     0
volume                    0
ema_signal                0
MACD_signal               0
ADX                      26
rsi_signal                0
bb_signal                 0
Keltner_channels          0
Stochastic_oscillator     0
dtype: int64

In [50]:
signals.dropna(inplace=True)

In [38]:
signals['price_after_3d'] = signals.close.shift(-3)
signals['price_after_7d'] = signals.close.shift(-7)
signals.head(7)

,date,open,high,low,close,volume,ema_signal,MACD_signal,ADX,rsi_signal,bb_signal,Keltner_channels,Stochastic_oscillator,price_after_3d,price_after_7d
0,2018-01-02 00:00:00.000000,42.540001,43.075001,42.314999,43.064999,102223600.0,0,0,NaN,0,0,0,0,43.750000,43.820000
1,2018-01-03 00:00:00.000000,43.132500,43.637501,42.990002,43.057499,118071600.0,-1,-1,NaN,0,0,0,0,43.587502,44.272499
2,2018-01-04 00:00:00.000000,43.134998,43.367500,43.020000,43.257500,89738400.0,1,1,NaN,0,0,0,0,43.582500,44.047501
3,2018-01-05 00:00:00.000000,43.360001,43.842499,43.262501,43.750000,94640000.0,1,1,NaN,0,0,0,0,43.572498,44.775002
4,2018-01-08 00:00:00.000000,43.587502,43.902500,43.482498,43.587502,82271200.0,1,1,NaN,0,0,0,0,43.820000,44.814999
5,2018-01-09 00:00:00.000000,43.637501,43.764999,43.352501,43.582500,86336000.0,1,1,NaN,0,0,0,0,44.272499,44.615002
6,2018-01-10 00:00:00.000000,43.290001,43.575001,43.250000,43.572498,95839600.0,1,1,NaN,0,0,0,0,44.047501,44.250000

In [39]:
signals['target_3d'] = signals['price_after_3d'] - signals.close
signals['target_7d'] = signals['price_after_7d'] - signals.close
signals.head(10)

,date,open,high,low,close,volume,ema_signal,MACD_signal,ADX,rsi_signal,bb_signal,Keltner_channels,Stochastic_oscillator,price_after_3d,price_after_7d,target_3d,target_7d
0,2018-01-02 00:00:00.000000,42.540001,43.075001,42.314999,43.064999,102223600.0,0,0,NaN,0,0,0,0,43.750000,43.820000,0.685001,0.755001
1,2018-01-03 00:00:00.000000,43.132500,43.637501,42.990002,43.057499,118071600.0,-1,-1,NaN,0,0,0,0,43.587502,44.272499,0.530003,1.215000
2,2018-01-04 00:00:00.000000,43.134998,43.367500,43.020000,43.257500,89738400.0,1,1,NaN,0,0,0,0,43.582500,44.047501,0.325001,0.790001
3,2018-01-05 00:00:00.000000,43.360001,43.842499,43.262501,43.750000,94640000.0,1,1,NaN,0,0,0,0,43.572498,44.775002,-0.177502,1.025002
4,2018-01-08 00:00:00.000000,43.587502,43.902500,43.482498,43.587502,82271200.0,1,1,NaN,0,0,0,0,43.820000,44.814999,0.232498,1.227497
5,2018-01-09 00:00:00.000000,43.637501,43.764999,43.352501,43.582500,86336000.0,1,1,NaN,0,0,0,0,44.272499,44.615002,0.689999,1.032501
6,2018-01-10 00:00:00.000000,43.290001,43.575001,43.250000,43.572498,95839600.0,1,1,NaN,0,0,0,0,44.047501,44.250000,0.475002,0.677502
7,2018-01-11 00:00:00.000000,43.647499,43.872501,43.622501,43.820000,74670800.0,1,1,NaN,0,0,0,0,44.775002,44.259998,0.955002,0.439999
8,2018-01-12 00:00:00.000000,44.044998,44.340000,43.912498,44.272499,101672400.0,1,1,NaN,0,0,-1,0,44.814999,43.555000,0.542500,-0.717499
9,2018-01-16 00:00:00.000000,44.474998,44.847500,44.035000,44.047501,118263600.0,1,1,NaN,0,0,0,0,44.615002,42.777500,0.567501,-1.270000

In [40]:
signals['target_signal_3d'] = np.where(signals['target_3d'] > 1.5, 1, 0)
signals['target_signal_3d'] = np.where(signals['target_3d'] < -1.5, -1, signals['target_signal_3d'])

signals['target_signal_7d'] = np.where(signals['target_7d'] > 2, 1, 0)
signals['target_signal_7d'] = np.where(signals['target_7d'] < -2, -1, signals['target_signal_7d'])

In [41]:
signals.head(13)

,date,open,high,low,close,volume,ema_signal,MACD_signal,ADX,rsi_signal,bb_signal,Keltner_channels,Stochastic_oscillator,price_after_3d,price_after_7d,target_3d,target_7d,target_signal_3d,target_signal_7d
0,2018-01-02 00:00:00.000000,42.540001,43.075001,42.314999,43.064999,102223600.0,0,0,NaN,0,0,0,0,43.750000,43.820000,0.685001,0.755001,0,0
1,2018-01-03 00:00:00.000000,43.132500,43.637501,42.990002,43.057499,118071600.0,-1,-1,NaN,0,0,0,0,43.587502,44.272499,0.530003,1.215000,0,0
2,2018-01-04 00:00:00.000000,43.134998,43.367500,43.020000,43.257500,89738400.0,1,1,NaN,0,0,0,0,43.582500,44.047501,0.325001,0.790001,0,0
3,2018-01-05 00:00:00.000000,43.360001,43.842499,43.262501,43.750000,94640000.0,1,1,NaN,0,0,0,0,43.572498,44.775002,-0.177502,1.025002,0,0
4,2018-01-08 00:00:00.000000,43.587502,43.902500,43.482498,43.587502,82271200.0,1,1,NaN,0,0,0,0,43.820000,44.814999,0.232498,1.227497,0,0
5,2018-01-09 00:00:00.000000,43.637501,43.764999,43.352501,43.582500,86336000.0,1,1,NaN,0,0,0,0,44.272499,44.615002,0.689999,1.032501,0,0
6,2018-01-10 00:00:00.000000,43.290001,43.575001,43.250000,43.572498,95839600.0,1,1,NaN,0,0,0,0,44.047501,44.250000,0.475002,0.677502,0,0
7,2018-01-11 00:00:00.000000,43.647499,43.872501,43.622501,43.820000,74670800.0,1,1,NaN,0,0,0,0,44.775002,44.259998,0.955002,0.439999,0,0
8,2018-01-12 00:00:00.000000,44.044998,44.340000,43.912498,44.272499,101672400.0,1,1,NaN,0,0,-1,0,44.814999,43.555000,0.542500,-0.717499,0,0
9,2018-01-16 00:00:00.000000,44.474998,44.847500,44.035000,44.047501,118263600.0,1,1,NaN,0,0,0,0,44.615002,42.777500,0.567501,-1.270000,0,0
10,2018-01-17 00:00:00.000000,44.037498,44.812500,43.767502,44.775002,137547200.0,1,1,NaN,0,0,-1,0,44.250000,42.877499,-0.525002,-1.897503,0,0
11,2018-01-18 00:00:00.000000,44.842499,45.025002,44.562500,44.814999,124773600.0,1,1,NaN,0,0,-1,0,44.259998,41.990002,-0.555000,-2.824997,0,-1
12,2018-01-19 00:00:00.000000,44.652500,44.895000,44.352501,44.615002,129700400.0,1,1,NaN,0,0,0,0,43.555000,41.742500,-1.060001,-2.872501,0,-1

In [42]:
signals.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'ema_signal',
       'MACD_signal', 'ADX', 'rsi_signal', 'bb_signal', 'Keltner_channels',
       'Stochastic_oscillator', 'price_after_3d', 'price_after_7d',
       'target_3d', 'target_7d', 'target_signal_3d', 'target_signal_7d'],
      dtype='object')

In [43]:
target_3d_data_set = signals[['date', 'open', 'high', 'low', 'close', 'volume', 'ema_signal', 'MACD_signal','ADX', 'rsi_signal', 'bb_signal', 'Keltner_channels', 'Stochastic_oscillator',
       'target_signal_3d']]

In [44]:
target_3d_data_set.to_csv('../data/dataset/target_3d_signal.csv', index=False)

In [45]:
target_7d_data_set = signals[['date', 'open', 'high', 'low', 'close', 'volume', 'ema_signal', 'MACD_signal','ADX', 'rsi_signal', 'bb_signal', 'Keltner_channels', 'Stochastic_oscillator',
       'target_signal_7d']]

In [46]:
target_7d_data_set.to_csv('../data/dataset/target_7d_signal.csv', index=False)