In [1]:
import numpy as np
import pandas as pd
import indicators as ind
import matplotlib.pyplot as plt
import pandas_ta as ta
import warnings
warnings.filterwarnings('ignore')
%load_ext autoreload
%autoreload 2

### Function that returns technical indicators value

In [24]:
def add_features(df:pd.DataFrame):
    df['sma_16'] = ta.sma(df.close, length=16)
    df['ema_16'] = ta.ema(df.close, length=16)
    a = ta.macd(df.close)
    df.join(a)
    a = ta.adx(df.high,df.low,df.close)
    df.join(a)
    df['rsi_16'] = ta.rsi(df.close, length=16)
    a = ta.bbands(df.close)
    df.join(a)
    df["cci_16"] = ta.cci(df.high, df.low, df.close, length=16)
    df["atr"] = ta.atr(df.high, df.low, df.close, length=16)
    a = ta.stoch(df.high, df.low, df.close)
    df = df.join(a)
    a = ta.stochrsi(df.close, length=16)
    df = df.join(a)
    df["wpr"] = ta.willr(df.high, df.low, df.close, length=16)
    df['curr_rets'] = df.close.pct_change(periods=2).mul(100)
    # df['fwd_rets'] = df.close.shift(-1).pct_change().mul(100)
    df['target_signal'] = np.where(df['curr_rets'] > 1.5, 1, 0)
    df['target_signal'] = np.where(df['curr_rets'] < -1.5, -1, df['target_signal'])
    return df

In [25]:
stock_data = pd.read_csv('../data/S & P 50/AAPL.csv')
stock_data.head()

,date,open,high,low,close,volume
0,2018-01-02 00:00:00.000000,42.540001,43.075001,42.314999,43.064999,102223600.0
1,2018-01-03 00:00:00.000000,43.132500,43.637501,42.990002,43.057499,118071600.0
2,2018-01-04 00:00:00.000000,43.134998,43.367500,43.020000,43.257500,89738400.0
3,2018-01-05 00:00:00.000000,43.360001,43.842499,43.262501,43.750000,94640000.0
4,2018-01-08 00:00:00.000000,43.587502,43.902500,43.482498,43.587502,82271200.0

In [26]:
new_df = add_features(stock_data)

In [27]:
new_df.head(20)

,date,open,high,low,close,volume,sma_16,ema_16,rsi_16,cci_16,atr,STOCHk_14_3_3,STOCHd_14_3_3,STOCHRSIk_16_14_3_3,STOCHRSId_16_14_3_3,wpr,curr_rets,fwd_rets,target_signal
0,2018-01-02 00:00:00.000000,42.540001,43.075001,42.314999,43.064999,102223600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2018-01-03 00:00:00.000000,43.132500,43.637501,42.990002,43.057499,118071600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.017415,0.464497,1
2,2018-01-04 00:00:00.000000,43.134998,43.367500,43.020000,43.257500,89738400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.464497,1.138532,0
3,2018-01-05 00:00:00.000000,43.360001,43.842499,43.262501,43.750000,94640000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.138532,-0.371425,-1
4,2018-01-08 00:00:00.000000,43.587502,43.902500,43.482498,43.587502,82271200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.371425,-0.011474,0
5,2018-01-09 00:00:00.000000,43.637501,43.764999,43.352501,43.582500,86336000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.011474,-0.022950,0
6,2018-01-10 00:00:00.000000,43.290001,43.575001,43.250000,43.572498,95839600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.022950,0.568022,1
7,2018-01-11 00:00:00.000000,43.647499,43.872501,43.622501,43.820000,74670800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.568022,1.032632,0
8,2018-01-12 00:00:00.000000,44.044998,44.340000,43.912498,44.272499,101672400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.032632,-0.508213,-1
9,2018-01-16 00:00:00.000000,44.474998,44.847500,44.035000,44.047501,118263600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.508213,1.651628,1
10,2018-01-17 00:00:00.000000,44.037498,44.812500,43.767502,44.775002,137547200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.651628,0.089329,0
11,2018-01-18 00:00:00.000000,44.842499,45.025002,44.562500,44.814999,124773600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.089329,-0.446272,-1
12,2018-01-19 00:00:00.000000,44.652500,44.895000,44.352501,44.615002,129700400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.446272,-0.818114,0
13,2018-01-22 00:00:00.000000,44.325001,44.445000,44.150002,44.250000,108434400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.818114,0.022595,1
14,2018-01-23 00:00:00.000000,44.325001,44.860001,44.205002,44.259998,130756400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.022595,-1.592856,-1
15,2018-01-24 00:00:00.000000,44.312500,44.325001,43.299999,43.555000,204420400.0,43.892656,43.892656,NaN,-21.616610,NaN,53.497720,NaN,NaN,NaN,-54.243529,-1.592856,-1.785100,0
16,2018-01-25 00:00:00.000000,43.627499,43.737499,42.632500,42.777500,166116000.0,43.874687,43.761461,36.766308,-119.560114,0.649712,31.717198,NaN,NaN,NaN,-93.939379,-1.785100,0.233764,1
17,2018-01-26 00:00:00.000000,43.000000,43.000000,42.514999,42.877499,156572000.0,43.863437,43.657466,38.713977,-144.022680,0.634259,15.728693,33.647870,NaN,NaN,-85.557812,0.233764,-2.069843,-1
18,2018-01-29 00:00:00.000000,42.540001,42.540001,41.767502,41.990002,202561600.0,43.784219,43.461293,29.973949,-203.336997,0.677537,9.111065,18.852319,NaN,NaN,-93.169613,-2.069843,-0.589429,0
19,2018-01-30 00:00:00.000000,41.382500,41.842499,41.174999,41.742500,184192800.0,43.658750,43.259082,28.087693,-202.387979,0.689696,12.004285,12.281348,NaN,NaN,-85.259721,-0.589429,0.275493,1

In [28]:
new_df['target_signal'].value_counts()

 0    622
 1    319
-1    318
Name: target_signal, dtype: int64

In [29]:
new_df.dropna(inplace=True)

In [30]:
new_df.index = pd.to_datetime(new_df['date'])
new_df.drop('date',axis=1,inplace=True)

## Data Preprocessing

In [32]:
X = new_df.drop(['curr_rets','fwd_rets','target_signal'],axis=1)
y = new_df['target_signal']

In [33]:
X.head()

,open,high,low,close,volume,sma_16,ema_16,rsi_16,cci_16,atr,STOCHk_14_3_3,STOCHd_14_3_3,STOCHRSIk_16_14_3_3,STOCHRSId_16_14_3_3,wpr
date,,,,,,,,,,,,,,,
2018-02-20,43.012501,43.564999,42.855000,42.962502,135722000.0,41.139844,41.785292,55.079390,115.333815,1.092941,92.585331,86.851565,97.747230,94.837429,-12.082998
2018-02-21,43.207500,43.529999,42.752499,42.767502,149886400.0,41.188437,41.900846,53.840908,100.650686,1.070754,87.645762,89.917186,95.130542,97.382006,-15.256305
2018-02-22,42.950001,43.487499,42.927502,43.125000,123967600.0,41.274844,42.044864,55.785095,96.255793,1.046274,87.740700,89.323931,94.910879,95.929551,-9.438597
2018-02-23,43.417500,43.912498,43.384998,43.875000,135249600.0,41.400938,42.260174,59.593541,108.381565,1.028345,91.571601,88.986021,96.431894,95.491105,-0.590295
2018-02-26,44.087502,44.847500,44.052502,44.742500,152648800.0,41.575781,42.552212,63.475092,124.071017,1.024501,96.176764,91.829688,99.048582,96.797118,-1.440817

In [34]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [35]:
X_scaled[:3]

array([[-1.22893437, -1.22751541, -1.22322327, -1.2312537 ,  0.37046771,
        -1.25805351, -1.24588877, -0.01576356,  0.79805383, -1.01492748,
         1.11775013,  0.94423046,  1.33058779,  1.28834922,  0.8763833 ],
       [-1.22469376, -1.22826693, -1.22548232, -1.23549369,  0.63210945,
        -1.25699751, -1.24337339, -0.11931459,  0.66434701, -1.02988278,
         0.94831221,  1.05228156,  1.25149807,  1.36820708,  0.77521276],
       [-1.23029354, -1.22917949, -1.22162538, -1.22772041,  0.15334298,
        -1.25511979, -1.24023842,  0.04324126,  0.62432645, -1.04638308,
         0.95156879,  1.03137166,  1.2448587 ,  1.32262387,  0.96069143]])

## Random Forest Classifier

In [36]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=10)

In [37]:
X_test.shape[0]/X_train.shape[0]

0.3340587595212187

In [38]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=10)
rf_model.fit(X_train, y_train)

predictions = rf_model.predict(X_test)
accuracy = accuracy_score(y_test, predictions)
print(f'Accuracy: {accuracy}')

Accuracy: 0.4560260586319218

## Bagging Classifier with LR Estimator

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(base_estimator=LogisticRegression()
                             ,n_estimators=100
                             ,max_samples=0.8
                             ,oob_score=True
                             ,random_state=10)
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.5168661588683352

In [40]:
predictions = bag_model.predict(X_test)
accuracy = accuracy_score(y_test, predictions)
print(f'Accuracy: {accuracy}')

Accuracy: 0.4755700325732899

In [33]:
import joblib

# Saving the trained model to a file
joblib.dump(bag_model, 'bagging_logistic_regression.pkl')

['bagging_logistic_regression.pkl']

## Bagging Classifier with DTC estimator

In [41]:
from sklearn.tree import DecisionTreeClassifier

bag_model = BaggingClassifier(base_estimator=DecisionTreeClassifier()
                             ,n_estimators=100
                             ,max_samples=0.8
                             ,oob_score=True
                             ,random_state=10)
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.4504896626768226