In [1]:
import numpy as np
import pandas as pd 
import indicators as ind
%load_ext autoreload
%autoreload 2

In [2]:
def group3_ensemble_model_signals(df:pd.DataFrame):
    df = ind.EMA(df)
    df = ind.macd_signals(df)
    df = ind.adx_signal(df)
    df = ind.rsi_signals(df)
    df = ind.bb_signals(df)
    df = ind.keltner_channels(df)
    df = ind.stochastic_oscillator_strategy(df)
    
    return df

In [3]:
stock_tickers = [
    "AAPL", "ABT", "ADBE", "AEP", "AES", "AFL", "ALGN", "AMD", "AMT", "AOS",
    "APA", "APD", "ARE", "AWK", "AXON", "BA", "BAC", "BAX", "BDX", "BG",
    "BKR", "BRK-B", "BX", "BXP", "CAT", "CCI", "CDNS", "CE", "CEG", "COF",
    "CPB", "CPT", "DIS", "EA", "FMC", "FOX", "GOOGL", "IFF", "KLAC", "LNT",
    "MMM", "MO", "NVDA", "STZ", "TECH", "TRGP", "VLO", "WBD", "WMB", "WMT"]

In [4]:
len(stock_tickers)

50

df = pd.read_csv('../data/S & P 50/AAPL.csv')
df.head()

for ticker in stock_tickers:
    df = pd.read_csv(f'../data/S & P 50/{ticker}.csv')
    df.sort_values(by='date',inplace=True)
    new_df = df[['date','open','high','low','close','volume']]
    new_df.to_csv(f'/home/sohan/Documents/csv commodities/sp50/daily/{ticker}.csv',index=False)

In [8]:
df = pd.read_csv('../data/S & P 50/AAPL.csv')
df.head()

,date,open,high,low,close,volume
0,2018-01-02 00:00:00.000000,42.540001,43.075001,42.314999,43.064999,102223600.0
1,2018-01-03 00:00:00.000000,43.132500,43.637501,42.990002,43.057499,118071600.0
2,2018-01-04 00:00:00.000000,43.134998,43.367500,43.020000,43.257500,89738400.0
3,2018-01-05 00:00:00.000000,43.360001,43.842499,43.262501,43.750000,94640000.0
4,2018-01-08 00:00:00.000000,43.587502,43.902500,43.482498,43.587502,82271200.0

In [9]:
df.tail()

,date,open,high,low,close,volume
1254,2022-12-23 00:00:00.000000,130.919998,132.419998,129.639999,131.860001,63814900.0
1255,2022-12-27 00:00:00.000000,131.380005,131.410004,128.720001,130.029999,69007800.0
1256,2022-12-28 00:00:00.000000,129.669998,131.029999,125.870003,126.040001,85438400.0
1257,2022-12-29 00:00:00.000000,127.989998,130.479996,127.730003,129.610001,75703700.0
1258,2022-12-30 00:00:00.000000,128.410004,129.949997,127.430000,129.929993,77034200.0

In [10]:
df.shape

(1259, 6)

In [12]:
signals = group3_ensemble_model_signals(df)

In [13]:
signals.head(20)

,date,open,high,low,close,volume,short_ema,long_ema,Signal,MACD_signal,rsi_14,rsi_signal,bb_ub,bb_lb,bb_signal,Keltner_channels,Stochastic_oscillator
0,2018-01-02 00:00:00.000000,42.540001,43.075001,42.314999,43.064999,102223600.0,43.064999,43.064999,0,0,NaN,0,NaN,NaN,0,0,0
1,2018-01-03 00:00:00.000000,43.132500,43.637501,42.990002,43.057499,118071600.0,43.062499,43.063635,-1,-1,NaN,0,NaN,NaN,0,0,0
2,2018-01-04 00:00:00.000000,43.134998,43.367500,43.020000,43.257500,89738400.0,43.127499,43.098883,1,1,NaN,0,NaN,NaN,0,0,0
3,2018-01-05 00:00:00.000000,43.360001,43.842499,43.262501,43.750000,94640000.0,43.334999,43.217268,1,1,NaN,0,NaN,NaN,0,0,0
4,2018-01-08 00:00:00.000000,43.587502,43.902500,43.482498,43.587502,82271200.0,43.419167,43.284583,1,1,NaN,0,NaN,NaN,0,0,0
5,2018-01-09 00:00:00.000000,43.637501,43.764999,43.352501,43.582500,86336000.0,43.473611,43.338750,1,1,NaN,0,NaN,NaN,0,0,0
6,2018-01-10 00:00:00.000000,43.290001,43.575001,43.250000,43.572498,95839600.0,43.506574,43.381250,1,1,NaN,0,NaN,NaN,0,0,0
7,2018-01-11 00:00:00.000000,43.647499,43.872501,43.622501,43.820000,74670800.0,43.611049,43.461022,1,1,NaN,0,NaN,NaN,0,0,0
8,2018-01-12 00:00:00.000000,44.044998,44.340000,43.912498,44.272499,101672400.0,43.831532,43.608564,1,1,NaN,0,NaN,NaN,0,-1,0
9,2018-01-16 00:00:00.000000,44.474998,44.847500,44.035000,44.047501,118263600.0,43.903522,43.688370,1,1,NaN,0,NaN,NaN,0,0,0
10,2018-01-17 00:00:00.000000,44.037498,44.812500,43.767502,44.775002,137547200.0,44.194015,43.885940,1,1,NaN,0,NaN,NaN,0,-1,0
11,2018-01-18 00:00:00.000000,44.842499,45.025002,44.562500,44.814999,124773600.0,44.401010,44.054859,1,1,NaN,0,NaN,NaN,0,-1,0
12,2018-01-19 00:00:00.000000,44.652500,44.895000,44.352501,44.615002,129700400.0,44.472340,44.156704,1,1,NaN,0,NaN,NaN,0,0,0
13,2018-01-22 00:00:00.000000,44.325001,44.445000,44.150002,44.250000,108434400.0,44.398227,44.173667,1,1,70.754682,-1,NaN,NaN,0,0,0
14,2018-01-23 00:00:00.000000,44.325001,44.860001,44.205002,44.259998,130756400.0,44.352151,44.189363,1,1,67.079104,0,NaN,NaN,0,0,0
15,2018-01-24 00:00:00.000000,44.312500,44.325001,43.299999,43.555000,204420400.0,44.086434,44.074024,1,1,39.492963,0,NaN,NaN,0,0,0
16,2018-01-25 00:00:00.000000,43.627499,43.737499,42.632500,42.777500,166116000.0,43.650123,43.838293,-1,0,25.770952,1,NaN,NaN,0,1,1
17,2018-01-26 00:00:00.000000,43.000000,43.000000,42.514999,42.877499,156572000.0,43.392581,43.663603,-1,0,24.363271,1,NaN,NaN,0,1,1
18,2018-01-29 00:00:00.000000,42.540001,42.540001,41.767502,41.990002,202561600.0,42.925055,43.359312,-1,-1,18.989719,1,NaN,NaN,0,1,1
19,2018-01-30 00:00:00.000000,41.382500,41.842499,41.174999,41.742500,184192800.0,42.530870,43.065346,-1,-1,30.557276,0,45.263421,41.903579,1,1,1

In [52]:
signals.shape

(1240, 17)

In [51]:
signals.isna().sum()

date                     0
open                     0
high                     0
low                      0
close                    0
volume                   0
short_ema                0
long_ema                 0
Signal                   0
MACD_signal              0
rsi_14                   0
rsi_signal               0
bb_ub                    0
bb_lb                    0
bb_signal                0
Keltner_channels         0
Stochastic_oscillator    0
dtype: int64

In [50]:
signals.dropna(inplace=True)

In [54]:
signals['price_after_3d'] = signals.close.shift(-3)
signals['price_after_7d'] = signals.close.shift(-7)
signals.head(7)

,date,open,high,low,close,volume,short_ema,long_ema,Signal,MACD_signal,rsi_14,rsi_signal,bb_ub,bb_lb,bb_signal,Keltner_channels,Stochastic_oscillator,price_after_3d,price_after_7d
19,2018-01-30 00:00:00.000000,41.382500,41.842499,41.174999,41.742500,184192800.0,42.530870,43.065346,-1,-1,30.557276,0,45.263421,41.903579,1,1,1,40.125000,38.787498
20,2018-01-31 00:00:00.000000,41.717499,42.110001,41.625000,41.857498,129915600.0,42.306413,42.845737,-1,-1,34.738735,0,45.360885,41.685364,0,1,1,39.122501,39.102501
21,2018-02-01 00:00:00.000000,41.792500,42.154999,41.689999,41.945000,188923200.0,42.185942,42.681967,-1,-1,39.330342,0,45.427858,41.507142,0,1,0,40.757500,40.677502
22,2018-02-02 00:00:00.000000,41.500000,41.700001,40.025002,40.125000,346375200.0,41.498961,42.217064,-1,-1,22.708526,1,45.777146,40.844604,1,1,1,39.884998,41.084999
23,2018-02-05 00:00:00.000000,39.775002,40.970001,39.000000,39.122501,290954000.0,40.706808,41.654416,-1,-1,18.441121,1,46.163271,39.995729,1,1,1,38.787498,41.842499
24,2018-02-06 00:00:00.000000,38.707500,40.930000,38.500000,40.757500,272975200.0,40.723705,41.491340,-1,-1,51.488663,0,46.179311,39.696689,0,0,0,39.102501,43.247501
25,2018-02-07 00:00:00.000000,40.772499,40.849998,39.767502,39.884998,206434400.0,40.444136,41.199278,-1,-1,42.821238,0,46.251270,39.254980,0,1,0,40.677502,43.107498

In [55]:
signals['target_3d'] = signals['price_after_3d'] - signals.close
signals['target_7d'] = signals['price_after_7d'] - signals.close
signals.head(10)

,date,open,high,low,close,volume,short_ema,long_ema,Signal,MACD_signal,...,rsi_signal,bb_ub,bb_lb,bb_signal,Keltner_channels,Stochastic_oscillator,price_after_3d,price_after_7d,target_3d,target_7d
19,2018-01-30 00:00:00.000000,41.382500,41.842499,41.174999,41.742500,184192800.0,42.530870,43.065346,-1,-1,...,0,45.263421,41.903579,1,1,1,40.125000,38.787498,-1.617500,-2.955002
20,2018-01-31 00:00:00.000000,41.717499,42.110001,41.625000,41.857498,129915600.0,42.306413,42.845737,-1,-1,...,0,45.360885,41.685364,0,1,1,39.122501,39.102501,-2.734997,-2.754997
21,2018-02-01 00:00:00.000000,41.792500,42.154999,41.689999,41.945000,188923200.0,42.185942,42.681967,-1,-1,...,0,45.427858,41.507142,0,1,0,40.757500,40.677502,-1.187500,-1.267498
22,2018-02-02 00:00:00.000000,41.500000,41.700001,40.025002,40.125000,346375200.0,41.498961,42.217064,-1,-1,...,1,45.777146,40.844604,1,1,1,39.884998,41.084999,-0.240002,0.959999
23,2018-02-05 00:00:00.000000,39.775002,40.970001,39.000000,39.122501,290954000.0,40.706808,41.654416,-1,-1,...,1,46.163271,39.995729,1,1,1,38.787498,41.842499,-0.335003,2.719997
24,2018-02-06 00:00:00.000000,38.707500,40.930000,38.500000,40.757500,272975200.0,40.723705,41.491340,-1,-1,...,0,46.179311,39.696689,0,0,0,39.102501,43.247501,-1.654999,2.490002
25,2018-02-07 00:00:00.000000,40.772499,40.849998,39.767502,39.884998,206434400.0,40.444136,41.199278,-1,-1,...,0,46.251270,39.254980,0,1,0,40.677502,43.107498,0.792503,3.222500
26,2018-02-08 00:00:00.000000,40.072498,40.250000,38.757500,38.787498,217562000.0,39.891924,40.760773,-1,-1,...,0,46.408158,38.619592,0,1,1,41.084999,42.962502,2.297501,4.175003
27,2018-02-09 00:00:00.000000,39.267502,39.472500,37.560001,39.102501,282690400.0,39.628783,40.459269,-1,-1,...,0,46.403775,38.152224,0,0,0,41.842499,42.767502,2.739998,3.665001
28,2018-02-12 00:00:00.000000,39.625000,40.972500,39.377499,40.677502,243278000.0,39.978356,40.498948,-1,-1,...,0,46.171060,38.025440,0,0,0,43.247501,43.125000,2.570000,2.447498

In [60]:
signals['target_signal_3d'] = np.where(signals['target_3d'] > 1.5, 1, 0)
signals['target_signal_3d'] = np.where(signals['target_3d'] < -1.5, -1, signals['target_signal_3d'])

signals['target_signal_7d'] = np.where(signals['target_7d'] > 2, 1, 0)
signals['target_signal_7d'] = np.where(signals['target_7d'] < -2, -1, signals['target_signal_7d'])

In [61]:
signals.head(13)

,date,open,high,low,close,volume,short_ema,long_ema,Signal,MACD_signal,...,bb_lb,bb_signal,Keltner_channels,Stochastic_oscillator,price_after_3d,price_after_7d,target_3d,target_7d,target_signal_3d,target_signal_7d
19,2018-01-30 00:00:00.000000,41.382500,41.842499,41.174999,41.742500,184192800.0,42.530870,43.065346,-1,-1,...,41.903579,1,1,1,40.125000,38.787498,-1.617500,-2.955002,-1,-1
20,2018-01-31 00:00:00.000000,41.717499,42.110001,41.625000,41.857498,129915600.0,42.306413,42.845737,-1,-1,...,41.685364,0,1,1,39.122501,39.102501,-2.734997,-2.754997,-1,-1
21,2018-02-01 00:00:00.000000,41.792500,42.154999,41.689999,41.945000,188923200.0,42.185942,42.681967,-1,-1,...,41.507142,0,1,0,40.757500,40.677502,-1.187500,-1.267498,0,0
22,2018-02-02 00:00:00.000000,41.500000,41.700001,40.025002,40.125000,346375200.0,41.498961,42.217064,-1,-1,...,40.844604,1,1,1,39.884998,41.084999,-0.240002,0.959999,0,0
23,2018-02-05 00:00:00.000000,39.775002,40.970001,39.000000,39.122501,290954000.0,40.706808,41.654416,-1,-1,...,39.995729,1,1,1,38.787498,41.842499,-0.335003,2.719997,0,1
24,2018-02-06 00:00:00.000000,38.707500,40.930000,38.500000,40.757500,272975200.0,40.723705,41.491340,-1,-1,...,39.696689,0,0,0,39.102501,43.247501,-1.654999,2.490002,-1,1
25,2018-02-07 00:00:00.000000,40.772499,40.849998,39.767502,39.884998,206434400.0,40.444136,41.199278,-1,-1,...,39.254980,0,1,0,40.677502,43.107498,0.792503,3.222500,0,1
26,2018-02-08 00:00:00.000000,40.072498,40.250000,38.757500,38.787498,217562000.0,39.891924,40.760773,-1,-1,...,38.619592,0,1,1,41.084999,42.962502,2.297501,4.175003,1,1
27,2018-02-09 00:00:00.000000,39.267502,39.472500,37.560001,39.102501,282690400.0,39.628783,40.459269,-1,-1,...,38.152224,0,0,0,41.842499,42.767502,2.739998,3.665001,1,1
28,2018-02-12 00:00:00.000000,39.625000,40.972500,39.377499,40.677502,243278000.0,39.978356,40.498948,-1,-1,...,38.025440,0,0,0,43.247501,43.125000,2.570000,2.447498,1,1
29,2018-02-13 00:00:00.000000,40.487499,41.187500,40.412498,41.084999,130196800.0,40.347237,40.605502,-1,-1,...,37.961186,0,0,0,43.107498,43.875000,2.022499,2.790001,1,1
30,2018-02-14 00:00:00.000000,40.759998,41.884998,40.720001,41.842499,162579600.0,40.845657,40.830411,1,0,...,38.042707,0,0,0,42.962502,44.742500,1.120003,2.900002,0,1
31,2018-02-15 00:00:00.000000,42.447498,43.272499,42.250000,43.247501,204588800.0,41.646272,41.269882,1,0,...,38.168808,0,-1,-1,42.767502,44.597500,-0.480000,1.349998,0,0

In [62]:
signals.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'short_ema',
       'long_ema', 'Signal', 'MACD_signal', 'rsi_14', 'rsi_signal', 'bb_ub',
       'bb_lb', 'bb_signal', 'Keltner_channels', 'Stochastic_oscillator',
       'price_after_3d', 'price_after_7d', 'target_3d', 'target_7d',
       'target_signal_3d', 'target_signal_7d'],
      dtype='object')

In [63]:
target_3d_data_set = signals[['date', 'open', 'high', 'low', 'close', 'volume', 'Signal', 'MACD_signal', 'rsi_signal', 'bb_signal', 'Keltner_channels', 'Stochastic_oscillator',
       'target_signal_3d']]

In [64]:
target_3d_data_set.to_csv('../data/dataset/target_3d_signal.csv', index=False)

In [65]:
target_7d_data_set = signals[['date', 'open', 'high', 'low', 'close', 'volume', 'Signal', 'MACD_signal', 'rsi_signal', 'bb_signal', 'Keltner_channels', 'Stochastic_oscillator',
       'target_signal_7d']]

In [66]:
target_7d_data_set.to_csv('../data/dataset/target_7d_signal.csv', index=False)