In [1]:
!pip install pandas-ta

Collecting pandas-ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
Requirement already satisfied: pandas in c:\users\shnkh\anaconda3\lib\site-packages (from pandas-ta) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\shnkh\anaconda3\lib\site-packages (from pandas->pandas-ta) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\shnkh\anaconda3\lib\site-packages (from pandas->pandas-ta) (2023.3.post1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\shnkh\anaconda3\lib\site-packages (from pandas->pandas-ta) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\shnkh\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandas-ta) (1.16.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py): started
  Building wheel for pandas-ta (setup.py): finished with status 'done'
  Created wheel for pandas-ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218923 sha256=f91354f5129f3714e34a7e6b765d8c62bd46ab2d0f45ebe6fa815ca300565d2a
  Stored in directory: c:\users\shnkh\appdata\local\pip\cache\wheels\1e\5c\47\759b32beb377aee150eb4c1f1b2b7635032cc19ea09ce076fd
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.3.14b0

In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
import pandas_ta as ta

In [3]:
df = pd.read_csv('../data/S & P 50/AAPL.csv')
df.head()

,date,open,high,low,close,volume
0,2018-01-02 00:00:00.000000,42.540001,43.075001,42.314999,43.064999,102223600.0
1,2018-01-03 00:00:00.000000,43.132500,43.637501,42.990002,43.057499,118071600.0
2,2018-01-04 00:00:00.000000,43.134998,43.367500,43.020000,43.257500,89738400.0
3,2018-01-05 00:00:00.000000,43.360001,43.842499,43.262501,43.750000,94640000.0
4,2018-01-08 00:00:00.000000,43.587502,43.902500,43.482498,43.587502,82271200.0

In [4]:
df=df[df['volume']!=0]
df.reset_index(drop=True, inplace=True)
df.isna().sum()
df.tail()

,date,open,high,low,close,volume
1254,2022-12-23 00:00:00.000000,130.919998,132.419998,129.639999,131.860001,63814900.0
1255,2022-12-27 00:00:00.000000,131.380005,131.410004,128.720001,130.029999,69007800.0
1256,2022-12-28 00:00:00.000000,129.669998,131.029999,125.870003,126.040001,85438400.0
1257,2022-12-29 00:00:00.000000,127.989998,130.479996,127.730003,129.610001,75703700.0
1258,2022-12-30 00:00:00.000000,128.410004,129.949997,127.430000,129.929993,77034200.0

In [5]:
df["RSI"] = ta.rsi(df.close, length=16)
df["CCI"] = ta.cci(df.high, df.low, df.close, length=16)
df["AO"] = ta.ao(df.high, df.low)
df["MOM"] = ta.mom(df.close, length=16)
a = ta.macd(df.close)
df = df.join(a)
df["ATR"] = ta.atr(df.high, df.low, df.close, length=16)
df["BOP"] = ta.bop(df.open, df.high, df.low, df.close, length=16)
df["RVI"] = ta.rvi(df.close)
a = ta.dm(df.high, df.low, length=16)
df = df.join(a)
a = ta.stoch(df.high, df.low, df.close)
df = df.join(a)
a = ta.stochrsi(df.close, length=16)
df = df.join(a)
df["WPR"] = ta.willr(df.high, df.low, df.close, length=16)

In [7]:
df.tail(10)

,date,open,high,low,close,volume,RSI,CCI,AO,MOM,...,ATR,BOP,RVI,DMP_16,DMN_16,STOCHk_14_3_3,STOCHd_14_3_3,STOCHRSIk_16_14_3_3,STOCHRSId_16_14_3_3,WPR
1249,2022-12-16 00:00:00.000000,136.690002,137.649994,133.729996,134.509995,160156900.0,37.389871,-212.736603,-3.541764,-16.560013,...,4.706789,-0.556125,34.386233,1.066053,1.483049,12.363225,25.496518,1.028781e+01,27.864052,-95.462486
1250,2022-12-19 00:00:00.000000,135.110001,135.199997,131.320007,132.369995,79592600.0,35.462431,-211.506071,-4.862822,-15.740005,...,4.655114,-0.706189,28.335103,0.999424,1.540983,4.350362,14.325700,9.473903e-15,13.260892,-94.642917
1251,2022-12-20 00:00:00.000000,131.389999,133.250000,129.889999,132.300003,77432800.0,35.398769,-177.828220,-7.360411,-11.919998,...,4.574170,0.270834,23.220292,0.936960,1.534047,7.118145,7.943911,9.473903e-15,3.429271,-88.540163
1252,2022-12-21 00:00:00.000000,132.979996,136.809998,132.750000,135.449997,85928000.0,40.524309,-100.505088,-8.780382,-5.720001,...,4.570159,0.608375,36.123219,1.100900,1.438169,14.418444,8.628984,1.123385e+01,3.744617,-73.561589
1253,2022-12-22 00:00:00.000000,134.350006,134.559998,130.300003,132.229996,77852100.0,37.297634,-114.623600,-9.831941,-15.800003,...,4.606398,-0.497656,30.266456,1.032094,1.501408,16.341731,12.626107,1.574459e+01,8.992813,-88.873055
1254,2022-12-23 00:00:00.000000,130.919998,132.419998,129.639999,131.860001,63814900.0,36.937162,-108.736705,-10.543499,-16.449997,...,4.492249,0.338131,25.555768,0.967588,1.448820,16.161728,15.640634,1.965216e+01,15.543532,-89.567663
1255,2022-12-27 00:00:00.000000,131.380005,131.410004,128.720001,130.029999,69007800.0,35.145153,-108.097009,-10.966470,-17.779999,...,4.407733,-0.501861,21.497524,0.907114,1.415769,9.403822,13.969094,8.477254e+00,14.624666,-94.099109
1256,2022-12-28 00:00:00.000000,129.669998,131.029999,125.870003,126.040001,85438400.0,31.581767,-121.334903,-11.266646,-20.590004,...,4.454749,-0.703488,17.827097,0.850419,1.505408,5.929970,10.498507,3.966516e+00,10.698642,-99.294613
1257,2022-12-29 00:00:00.000000,127.989998,130.479996,127.730003,129.610001,75703700.0,37.618190,-90.031965,-12.182087,-13.300003,...,4.453827,0.589094,31.284992,0.797268,1.411320,7.462915,7.598902,1.195663e+01,8.133467,-84.481336
1258,2022-12-30 00:00:00.000000,128.410004,129.949997,127.430000,129.929993,77034200.0,38.140006,-83.142467,-12.503764,-11.010010,...,4.332963,0.603171,41.961457,0.747439,1.341863,11.023494,8.138793,2.481730e+01,13.580150,-83.153568

In [8]:
df.dropna(inplace=True)
df.isna().sum()

date                   0
open                   0
high                   0
low                    0
close                  0
volume                 0
RSI                    0
CCI                    0
AO                     0
MOM                    0
MACD_12_26_9           0
MACDh_12_26_9          0
MACDs_12_26_9          0
ATR                    0
BOP                    0
RVI                    0
DMP_16                 0
DMN_16                 0
STOCHk_14_3_3          0
STOCHd_14_3_3          0
STOCHRSIk_16_14_3_3    0
STOCHRSId_16_14_3_3    0
WPR                    0
dtype: int64

In [11]:
df['price_after_3d'] = df.close.shift(-3)
df['price_diff_3d'] = df['price_after_3d'] - df.close
df['target'] = np.where(df['price_diff_3d'] > 1.5, 1, 0)
df['target'] = np.where(df['price_diff_3d'] < -0.5, -1, df['target'])
df.head(10)

,date,open,high,low,close,volume,RSI,CCI,AO,MOM,...,DMP_16,DMN_16,STOCHk_14_3_3,STOCHd_14_3_3,STOCHRSIk_16_14_3_3,STOCHRSId_16_14_3_3,WPR,price_after_3d,price_diff_3d,target
33,2018-02-20 00:00:00.000000,43.012501,43.564999,42.855000,42.962502,135722000.0,55.079390,115.333815,-0.248221,0.085003,...,0.295578,0.316419,92.585331,86.851565,97.747230,94.837429,-12.082998,43.875000,0.912498,0
34,2018-02-21 00:00:00.000000,43.207500,43.529999,42.752499,42.767502,149886400.0,53.840908,100.650686,0.206904,0.777500,...,0.274788,0.301372,87.645762,89.917186,95.130542,97.382006,-15.256305,44.742500,1.974998,1
35,2018-02-22 00:00:00.000000,42.950001,43.487499,42.927502,43.125000,123967600.0,55.785095,96.255793,0.591029,1.382500,...,0.255610,0.280339,87.740700,89.323931,94.910879,95.929551,-9.438597,44.597500,1.472500,0
36,2018-02-23 00:00:00.000000,43.417500,43.912498,43.384998,43.875000,135249600.0,59.593541,108.381565,0.755147,2.017502,...,0.267346,0.260915,91.571601,88.986021,96.431894,95.491105,-0.590295,44.529999,0.654999,0
37,2018-02-26 00:00:00.000000,44.087502,44.847500,44.052502,44.742500,152648800.0,63.475092,124.071017,0.953999,2.797501,...,0.313294,0.242960,96.176764,91.829688,99.048582,96.797118,-1.440817,43.750000,-0.992500,-1
38,2018-02-27 00:00:00.000000,44.775002,45.119999,44.540001,44.597500,155712400.0,62.406256,112.052327,1.244544,4.472500,...,0.310504,0.226344,97.019174,94.922513,99.174987,98.218488,-6.911366,44.052502,-0.544998,-1
39,2018-02-28 00:00:00.000000,44.814999,45.154999,44.512501,44.529999,151128400.0,61.888781,98.700140,1.545544,5.407497,...,0.291773,0.210956,94.472905,95.889614,97.584460,98.602676,-8.229101,44.205002,-0.324997,0
40,2018-03-01 00:00:00.000000,44.634998,44.945000,43.165001,43.750000,195208000.0,56.149955,62.574562,1.696147,2.992500,...,0.272045,0.287804,88.786844,93.426308,90.230555,95.663334,-18.499003,44.167500,0.417500,0
41,2018-03-02 00:00:00.000000,43.200001,44.075001,43.112499,44.052502,153816000.0,57.769884,49.498274,1.689669,4.167503,...,0.253744,0.271975,84.729766,89.329838,85.282463,91.032492,-14.516096,43.757500,-0.295002,0
42,2018-03-05 00:00:00.000000,43.802502,44.435001,43.630001,44.205002,113605600.0,58.592461,62.043787,1.608927,5.417503,...,0.260858,0.253766,80.795612,84.770741,81.472480,85.661833,-12.508193,44.235001,0.029999,0

In [14]:
df.target.value_counts()

 0    444
-1    422
 1    360
Name: target, dtype: int64

In [20]:
df.dropna(inplace=True)
df.isna().sum()

date                   0
open                   0
high                   0
low                    0
close                  0
volume                 0
RSI                    0
CCI                    0
AO                     0
MOM                    0
MACD_12_26_9           0
MACDh_12_26_9          0
MACDs_12_26_9          0
ATR                    0
BOP                    0
RVI                    0
DMP_16                 0
DMN_16                 0
STOCHk_14_3_3          0
STOCHd_14_3_3          0
STOCHRSIk_16_14_3_3    0
STOCHRSId_16_14_3_3    0
WPR                    0
price_after_3d         0
price_diff_3d          0
target                 0
dtype: int64

In [21]:
df.reset_index(drop=True,inplace=True)

In [24]:
X = df.drop(['date','price_after_3d','price_diff_3d','target'],axis=1)
X.head()

,open,high,low,close,volume,RSI,CCI,AO,MOM,MACD_12_26_9,...,ATR,BOP,RVI,DMP_16,DMN_16,STOCHk_14_3_3,STOCHd_14_3_3,STOCHRSIk_16_14_3_3,STOCHRSId_16_14_3_3,WPR
0,43.012501,43.564999,42.855000,42.962502,135722000.0,55.079390,115.333815,-0.248221,0.085003,-0.526813,...,1.092941,-0.070422,49.027023,0.295578,0.316419,92.585331,86.851565,97.747230,94.837429,-12.082998
1,43.207500,43.529999,42.752499,42.767502,149886400.0,53.840908,100.650686,0.206904,0.777500,-0.409435,...,1.070754,-0.565915,41.674550,0.274788,0.301372,87.645762,89.917186,95.130542,97.382006,-15.256305
2,42.950001,43.487499,42.927502,43.125000,123967600.0,55.785095,96.255793,0.591029,1.382500,-0.284289,...,1.046274,0.312500,50.641507,0.255610,0.280339,87.740700,89.323931,94.910879,95.929551,-9.438597
3,43.417500,43.912498,43.384998,43.875000,135249600.0,59.593541,108.381565,0.755147,2.017502,-0.123171,...,1.028345,0.867299,58.513532,0.267346,0.260915,91.571601,88.986021,96.431894,95.491105,-0.590295
4,44.087502,44.847500,44.052502,44.742500,152648800.0,63.475092,124.071017,0.953999,2.797501,0.073667,...,1.024501,0.823900,65.166734,0.313294,0.242960,96.176764,91.829688,99.048582,96.797118,-1.440817

In [26]:
y = df.target
y.head()

0    0
1    1
2    0
3    0
4   -1
Name: target, dtype: int32

In [27]:
print(X.shape, y.shape)

(1223, 22) (1223,)

In [25]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

array([[-1.22648158, -1.22506096, -1.22077632, -1.22880383,  0.36857844,
        -0.01980238,  0.79557396, -0.24457056, -0.14547853, -0.48734555,
         0.96397071, -0.84418454, -1.01255   , -0.23729441, -0.26244002,
        -0.94728412, -0.67865466,  1.11637226,  0.94243449,  1.32849693,
         1.28634878,  0.87417386],
       [-1.22224407, -1.22581194, -1.22303371, -1.23304069,  0.63004591,
        -0.12357298,  0.66181139, -0.16688951, -0.06060021, -0.43529228,
         0.90576731, -0.76899269, -1.02751453, -1.15426718, -0.81959715,
        -1.00225253, -0.71213968,  0.94647994,  1.0507892 ,  1.24935445,
         1.36628796,  0.7728115 ],
       [-1.22783976, -1.22672384, -1.2191796 , -1.22527314,  0.15159832,
         0.03932756,  0.62177414, -0.10132675,  0.01355365, -0.37979356,
         0.86802273, -0.69695802, -1.044025  ,  0.47135063, -0.14009735,
        -1.05295713, -0.75894724,  0.94974525,  1.02982055,  1.24271065,
         1.32065833,  0.95864183]])

In [45]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled,y, stratify=y, random_state=10)

In [46]:
X_test.shape[0]/X_train.shape[0]

0.3336968375136314

In [48]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train, y_train)

predictions = rf_classifier.predict(X_test)

accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.6045751633986928